<div class="container login">
  <div class="login--form">
    <h1>Tip Valley</h1>
    <h3>Register</h3>

    <div class="alert alert-danger" ng-if="register.error">
      <p ng-repeat="e in register.error">
        <span ng-repeat="message in e">{{ message }}</span>
      </p>
    </div>

    <form name="registerForm">
      <!-- FIRST NAME FORM FIELD -->
      <div class="form-group" ng-class="{
        'has-success': registerForm.firstName.$touched && registerForm.firstName.$valid,
        'has-error': registerForm.firstName.$touched && registerForm.firstName.$invalid
      }">

        <label class="control-label">First Name</label>
        <div class="input-group">
          <input
            type="text"
            name="firstName"
            class="form-control"
            placeholder="First Name"
            ng-model="register.firstName"
            ng-minlength="3"
            required
          />
          <div class="input-group-addon">
            <i class="fa fa-user" ng-show="registerForm.firstName.$untouched"></i>
            <i class="fa fa-check" ng-show="registerForm.firstName.$valid"></i>
            <i class="fa fa-close" ng-show="registerForm.firstName.$touched && registerForm.firstName.$invalid"></i>
          </div>
        </div>

        <span ng-messages="registerForm.firstName.$error" ng-show="registerForm.firstName.$touched">
          <span class="help-block" ng-message="required">Your first name is required</span>
        </span>
      </div>

      <!-- LAST NAME FORM FIELD -->
      <div class="form-group" ng-class="{
        'has-success': registerForm.lastName.$touched && registerForm.lastName.$valid,
        'has-error': registerForm.lastName.$touched && registerForm.lastName.$invalid
      }">

        <label class="control-label">Last Name:</label>
        <div class="input-group">
          <input
            type="text"
            name="lastName"
            class="form-control"
            placeholder="Last Name"
            ng-model="register.lastName"
            ng-minlength="3"
            required
          />
          <div class="input-group-addon">
            <i class="fa fa-user" ng-show="registerForm.lastName.$untouched"></i>
            <i class="fa fa-check" ng-show="registerForm.lastName.$valid"></i>
            <i class="fa fa-close" ng-show="registerForm.lastName.$touched && registerForm.lastName.$invalid"></i>
          </div>
        </div>
        <span ng-messages="registerForm.lastName.$error" ng-show="registerForm.lastName.$touched">
          <span class="help-block" ng-message="required">Your first name is required</span>
        </span>
      </div>

      <!-- EMAIL FORM FIELD -->
      <div class="form-group" ng-class="{
        'has-success': registerForm.email.$touched && registerForm.email.$valid,
        'has-error': registerForm.email.$touched && registerForm.email.$invalid
      }">

        <label class="control-label">Email:</label>
        <div class="input-group">
         <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Email"
            ng-model="register.email"
            required
           />

          <div class="input-group-addon">
            <i class="fa fa-envelope" ng-show="registerForm.email.$untouched"></i>
            <i class="fa fa-check" ng-show="registerForm.email.$valid"></i>
            <i class="fa fa-close" ng-show="registerForm.email.$touched && registerForm.email.$invalid"></i>

          </div>
        </div>
        <span ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched">
          <span class="help-block" ng-message="email">Please enter a valid email address</span>
          <span class="help-block" ng-message="required">Please enter your email address</span>
        </span>
      </div>

      <!-- PASSWORD FORM FIELD -->
      <div class="form-group" ng-class="{
        'has-success': registerForm.password.$touched && registerForm.password.$valid,
        'has-error': registerForm.password.$touched && registerForm.password.$invalid
      }">

        <label class="control-label">Password:</label>
        <div class="input-group">
         <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            ng-model="register.password"
            ng-minlength="6"
            required
          />
          <div class="input-group-addon">
            <i class="fa fa-key" ng-show="registerForm.password.$untouched"></i>
            <i class="fa fa-check" ng-show="registerForm.password.$valid"></i>
            <i class="fa fa-close" ng-show="registerForm.password.$touched && registerForm.password.$invalid"></i>
          </div>
        </div>
        <span ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched">
          <span class="help-block" ng-message="minlength">Your password must be at least 6 charecters at length</span>
          <span class="help-block" ng-message="required">Please enter a password</span>
        </span>
      </div>

      <!-- PASSWORD AGAIN FORM FIELD -->
      <div class="form-group" ng-class="{
        'has-success': registerForm.passwordAgain.$touched && register.password === register.passwordAgain,
        'has-error': registerForm.passwordAgain.$touched && register.password !== register.passwordAgain
      }">

        <label class="control-label">Password Again:</label>
        <div class="input-group">
          <input
            type="password"
            name="passwordAgain"
            class="form-control"
            placeholder="Password Again"
            ng-model="register.passwordAgain"
            required
          />
          <div class="input-group-addon">
            <i class="fa fa-key" ng-show="registerForm.passwordAgain.$untouched"></i>
            <i class="fa fa-check" ng-show="registerForm.passwordAgain.$touched && register.password === register.passwordAgain"></i>
            <i class="fa fa-close" ng-show="registerForm.passwordAgain.$touched && register.password !== register.passwordAgain"></i>

          </div>
        </div>
        <span ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched">
          <span class="help-block" ng-show="register.password !== register.passwordAgain">Your password must match</span>
          <span class="help-block" ng-message="required">Please enter a password</span>
        </span>
      </div>

      <!-- REGISTER BUTTON -->
      <button class="btn btn-primary" ng-if="registerForm.$valid" ng-click="register.register()">Register <i ng-show="register.loading" class="fa fa-spinner fa-pulse"></i></button>
    </form>
  </div>
</div>
