<nav class="navbar navbar-default">
  <div class="container">
    <!-- NAVBAR HEADER -->
    <div class="navbar-header">
      <button type="button"  class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- EVERYTHING THAT SHOULD BE TOGGLED -->
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right"  ng-if="vm.isAuthenticated()">
        <li class="dropdown">
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            ng-href=""
          >
            Leagues
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="league in vm.leagues">
              <a ui-sref="league({id: league.id})">{{ league.name }}</a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="leagues.show">Create new League</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            ng-href="#"
          >
            <i class="fa fa-user"></i> {{ vm.user.email }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="leagues.show"><i class="fa fa-users"></i> My Leagues</a></li>
            <li><a href=""><i class="fa fa-cog"></i> Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" ng-click="vm.logout();" ><i class="fa fa-power-off"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="!vm.isAuthenticated()">
        <li><a ui-sref="login">Login</a></li>
        <li><a ui-sref="signup">Sign Up</a></li>
      </ul>
    </div>

  </div>
</nav>
