.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -71px;
  // padding-top: 71px;
  height: 450px;

  color: #F0F0EE;
  text-shadow: -2px 1px 5px rgba(0,0,0,0.2);

  background: {
    image: url("../assets/images/valley.jpg");
    size: cover;
    position: left top;
  };
}
