<div class="panel-group" id="{{$index}}" role="tablist" aria-multiselectable="true" ng-repeat="league in games.leagues">
  <div class="panel panel-default" ng-repeat="matchday in league">
    <div class="panel-heading" role="tab" id="heading{{$index}}">
      <a href="#matchday{{$index}}" role="button" data-toggle="collapse" data-parent="{{$parent.$index}}" aria-expanded="false" aria-controls="matchday{{$index}}">
        <h4 class="panel-title">
          {{ matchday[0].date | date:'MMM d'}} - {{ matchday[matchday.length - 1].date | date:'MMM d, yyyy' }}
          <span class="pull-right">
            <i class="fa fa-caret-down"></i>
          </span>
        </h4>
      </a>
    </div>
    <div id="matchday{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$index}}">

        <div class="table-responsive">
          <table class="table table-striped fixtures">
            <thead>
            <tr>
              <th class="fixtures--home-team">Home team</th>
              <th class="fixtures--score" ng-if="matchday[0].status === 'FINISHED'">Home Score</th>
              <th class="fixtures--score">Your Guess</th>
              <th class="fixtures--score" ng-if="matchday[0].status === 'FINISHED'">Away Score</th>
              <th class="fixtures--away-team">Away team</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="match in matchday" ng-class="games.calculateScore(match.results, match.result)">
              <td class="fixtures--home-team">{{ match.homeTeamName }}</td>
              <td class="fixtures--score" ng-if="match.result.goalsHomeTeam !== null">{{ match.result.goalsHomeTeam }}</td>
              <td class="fixtures--score">
                <div class="btn-group" data-toggle="buttons" ng-show="match.status !== 'FINISHED'">
                  <div class="btn btn-default" ng-class="{'active': match.results == '1'}" ng-click="games.tip(games.leagueId, match.fixture_id, 1)">
                    <input type="radio" name="{{id}}1">1
                  </div>
                  <div class="btn btn-default" ng-class="{active: match.results == 'X'}" ng-click="games.tip(games.leagueId, match.fixture_id,'X')">
                    <input type="radio" name="{{id}}X">X
                  </div>
                  <div class="btn btn-default" ng-class="{active: match.results == '2'}" ng-click="games.tip(games.leagueId, match.fixture_id, 2)">
                    <input type="radio" name="{{id}}2"/>2
                  </div>
                </div>
                <div ng-show="match.status === 'FINISHED'">{{ match.results }}</div>
              </td>
              <td class="fixtures--score" ng-if="match.result.goalsAwayTeam !== null">{{ match.result.goalsAwayTeam }}</td>
              <td class="fixtures--away-team">{{ match.awayTeamName }}</td>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
