.panel {
  margin-bottom: $line-height-computed;
  background-color: $panel-bg;
  border: 0 solid transparent;
  // border-radius: $panel-border-radius;
  // @include box-shadow(0 1px 1px rgba(0,0,0,.05));
}

.panel-group .panel-heading {
  border-bottom: 4px solid darken($panel-bg, 10%);
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
}

// Panel contents
.panel-body {
  padding: $panel-body-padding 0;
  border: none;
  @include clearfix;
}

// Optional heading
.panel-heading {
  padding: $panel-heading-padding;
  border-bottom: 4px solid darken($panel-bg, 10%);

  // @include border-top-radius(($panel-border-radius - 1));

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: ceil(($font-size-base * 1.125));
  color: inherit;
  > a,
  > small,
  > .small,
  > small > a,
  > .small > a {
    color: inherit;
  }
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  padding: $panel-footer-padding;
  background-color: $panel-footer-bg;
  border-top: 0 solid $panel-inner-border;
  @include border-bottom-radius(($panel-border-radius - 1));
}
.fixtures {
  tbody > tr > td{
    vertical-align: middle;
  }

  &--logo {
    height: 25px;
    width: 25px;

    > img {
      height: 25px;
      width: 25px;
    }
  }

  &--home-team {
    text-align: left;
  }

  &--score {
    text-align: center;
  }

  &--away-team {
    text-align: right;
  }
}
