<div class="container" ng-controller="LeaguesController as leagues">
  <div class="row">
   <div class="col-xs-12 col-sm-6" ng-show="leagues.leagues">
      <div class="list-group">
        <a ui-sref="league({id: league.id})" class="list-group-item" role="presentation" ng-repeat="league in leagues.leagues">
          {{ league.name }} <small>{{ league.description }}</small> <span class="badge pull-right">points</span>
        </a>
      </div>
    </div>
    <div ng-class="{'col-xs-12 col-sm-6': 'leagues.leagues'}">
      <div ui-view="create" class="well"></div>
    </div>
  </div>
</div>

<footer>
  <p class="text-center">&copy; Sæþór Hallgrímsson 2015</p>
</footer>
