<div class="container login">
    <div class="login--form">
        <h1>Tip Valley</h1>
        <h3>Login</h3>
        <div class="alert alert-danger" ng-if="login.error">
          Username or password is incorrect!
        </div>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" ng-model="login.email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="login.password">
          </div>
          <button class="btn btn-primary" ng-click="login.login()">Submit <i ng-show="login.loading" class="fa fa-spinner fa-pulse"></i></button>
          <a ui-sref="signup" class="login--signup">No account? Sign up!</a>
        </form>
    </div>
</div>
