.login {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: $brand-primary;
    font-size: 4em;
    text-align: center;
    margin-bottom: 1em;
  }

  a {
    color: $brand-secondary;
  }

  &--form {
    color: $brand-secondary;
    width: 500px;
  }

  .btn {
    float: right;
  }
}
