.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-rocket {
  text-align: center;
  font-size: 3em;
  animation-name: rocket;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes rocket {
  0% {font-size: 3em; transform: rotate(4deg);}
  2% {transform: rotate(-1deg);}
  4% {transform: rotate(1deg);}
  5% {transform: rotate(-1deg);}
  6% {transform: rotate(-2deg);}
  7% {transform: rotate(1deg);}
  8% {transform: rotate(-3deg);}
  9% {transform: rotate(1deg);}
  11% {transform: rotate(-1deg);}
  12% {transform: rotate(-6deg);}
  13% {transform: rotate(1deg);}
  14% {transform: rotate(-1deg);}
  15% {transform: rotate(2deg);}
  16% {transform: rotate(-2deg);}
  17% {transform: rotate(1deg);}
  18% {transform: rotate(-1deg);}
  19% {transform: rotate(1deg);}
  20% {transform: rotate(-2deg);}
  21% {transform: rotate(2deg);}
  25% {transform: rotate(-3deg);}
  26% {font-size: 4em; transform: rotate(8deg);}
  31% {transform: rotate(-1deg);}
  32% {transform: rotate(-6deg);}
  33% {transform: rotate(1deg);}
  34% {transform: rotate(-1deg);}
  35% {transform: rotate(2deg);}
  36% {transform: rotate(-2deg);}
  37% {transform: rotate(1deg);}
  38% {transform: rotate(-1deg);}
  39% {transform: rotate(1deg);}
  70% {font-size: 5em; transform: rotate(-4deg);}
  80% {font-size: 3em;transform: rotate(-8deg);}
  93% {transform: rotate(-1deg);}
  94% {transform: rotate(1deg);}
  95% {transform: rotate(-1deg);}
  96% {transform: rotate(-2deg);}
  97% {transform: rotate(1deg);}
  98% {transform: rotate(-3deg);}
  99% {transform: rotate(1deg);}
  100% {transform: rotate(6deg);}
}
