<form name="league" id="createLeague">
  <h4>Create a new league</h4>

  <div ng-show="vm.status" class="alert alert-success">
   {{ vm.status }}
  </div>

  <!-- LEAGUE NAME -->
  <div class="form-group" ng-class="{
    'has-success': league.name.$touched && league.name.$valid,
    'has-error': league.name.$touched && league.name.$invalid
  }">

    <label for="league-name">Name:</label>
    <input
      type="text"
      name="name"
      class="form-control"
      id="league-name"
      placeholder="Name of the league..."
      ng-model="vm.name"
      required
      ng-minlength="3"
    >

    <span ng-messages="league.name.$error" ng-show="league.name.$touched">
      <span class="help-block" ng-message="minlength">League name must be at least 3 characters</span>
      <span class="help-block" ng-message="required">League name is required</span>
    </span>

  </div>

  <!-- LEAGUE DESCRIPTION -->
  <div class="form-group" ng-class="{
    'has-success': league.description.$touched && league.description.$valid,
    'has-error': league.description.$touched && league.description.$invalid
  }">

    <label for="league-description">Description:</label>
    <textarea
      name="description"
      class="form-control"
      id="league-description"
      rows="3"
      placeholder="Short description of the league"
      ng-model="vm.description"
      required
    ></textarea>

    <span ng-messages="league.description.$error" ng-show="league.description.$touched">
      <span class="help-block" ng-message="required">Description is required</span>
    </span>

  </div>

  <!-- LEAGUE SEASON -->
  <div class="form-group" ng-class="{
    'has-success': league.season.$touched && league.season.$valid,
    'has-error': league.season.$touched && league.season.$invalid
  }">

    <label for="league-season">Season:</label>
    <select
      name="season"
      id="league-season"
      class="form-control"
      ng-model="vm.season_id"
      required
    >
      <option ng-repeat="season in vm.seasons" value="{{ season.id }}">{{ season.caption }}</option>
    </select>

    <span ng-messages="league.season.$error" ng-show="league.season.$touched">
      <span class="help-block" ng-message="required">Season is required</span>
    </span>

  </div>

  <!-- ADDED PLAYERS -->
  <ul class="list-group" ng-show="vm.players">
    <li class="list-group-item" ng-repeat="player in vm.players">{{ player }}<span class="pull-right"><i
      class="fa fa-minus-circle"></i></span></li>
  </ul>

  <!-- ADD PLAYER -->
  <div class="form-group">
    <label for="league-players">Players:</label>

    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="league-players"
        ng-model="vm.player"
      >

      <div class="input-group-btn">
        <button class="btn btn-primary" ng-click="vm.addPlayer()">
          Add
        </button>
      </div>
    </div>
  </div>

  <!-- CREATE -->
  <button
    class="btn btn-primary pull-right"
    ng-click="vm.createLeague()"
    ng-show="league.$valid"
  >
    Create
    <i ng-show="vm.loading" class="fa fa-spinner fa-pulse"></i>
  </button>
  <div class="clearfix"></div>
</form>
