<div class="container" ng-controller="LeagueController as league">
  <div class="col-xs-12 col-lg-4 pull-right">
    <div class="panel panel-default">
      <div class="panel-heading">Leaderboard</div>
      <div ui-view="leaderboard">

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Add new player</div>
      <div class="panel-body">
        <form role="form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Player's email address..." ng-model="league.player">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click="league.addPlayer()">Add <i ng-show="league.loading" class="fa fa-spinner fa-pulse"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8">
    <fixture>
      <i class="fa fa-spinner fa-pulse"></i>
    </fixture>
  </div>
</div>
